<div class="mdp-date-picker-input-container" ng-class="{'md-has-icon': iconShowing}" layout layout-align="start start" flex>
    <md-button class="md-icon-button" 
        ng-show="iconShowing" 
        aria-label="{{ placeholder }}" 
        ng-click="showPicker($event)">
            <md-icon md-svg-icon="mdp-access-time"></md-icon>
    </md-button>
    <md-input-container class="md-block" flex>
        <label>{{ placeholder }}</label>
        <input 
            type="text"
            class="mdp-date-picker-input" 
            ng-click="showPicker($event)" 
            aria-label="{{ placeholder }}" 
            flex />
    </md-input-container>
</div>