<div class="mdp-date-picker-input-container" layout layout-align="start start" flex>
    <md-button class="md-icon-button" 
        aria-label="{{placeholder}}" 
        ng-click="showPicker($event)" 
        ng-show="showIcon">
            <md-icon md-svg-icon="mdp-event"></md-icon>
    </md-button>
    <md-input-container class="md-block" flex>
        <label>{{ placeholder }}</label>
        <input
            class="mdp-date-picker-input" 
            ng-click="showPicker($event)" 
            type="text"
            value="{{dateValue}}" 
            aria-label="{{placeholder}}"
            flex/> 
    </md-input-container> 
</div>